*.jar

Corese_lib/*
Bibliographie/*
.idea
*.iml

morph-xr2rml/doc/*
morph-xr2rml/morph-base/*
morph-xr2rml/morph-core/*
morph-xr2rml/morph-xr2rml/*
morph-xr2rml/morph-xr2rml-lang/*
morph-xr2rml/morph-xr2rml-mongo/*
morph-xr2rml/morph-xr2rml-rdf/*
morph-xr2rml/morph-xr2rml-dist/allignement/*
morph-xr2rml/morph-xr2rml-dist/co321/*
morph-xr2rml/morph-xr2rml-dist/example_mongo/*
morph-xr2rml/morph-xr2rml-dist/example_mongo_rewriting/*
morph-xr2rml/morph-xr2rml-dist/example_mysql/*
morph-xr2rml/morph-xr2rml-dist/example_mysql_rewriting/*
morph-xr2rml/morph-xr2rml-dist/example_taxref/*
morph-xr2rml/morph-xr2rml-dist/example_taxref_rewriting/*
morph-xr2rml/morph-xr2rml-dist/observation/*
morph-xr2rml/morph-xr2rml-dist/wheat_data_lifting/*